<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8">
    <title>Контакты</title>
    <link rel = "stylesheet" href = "../../static/styles.css">
</head>
<body>
    <nav class = "navbar">
        <a href = "../test.html">Главная</a>
        <a href = "first_app_flask.html">Мое веб-приложение на flask</a>
        <a href = "contacts.html">Контакты</a>
    </nav>
    <div style = "text-align: center">
        <p><img src = "../../static/images/404.png" alt = "404:страница не найдена"></p>
        <p>У меня нет аккаунтов в социальных сетях.<br>
    Но вы можете со мной связаться по <a href = "mailto: mistereksayl@gmail.com">почте</a></p>
    </div>

</body>
</html>